





body{

     
   
    background-color: rgb(228, 248, 241);
}



 

header nav{
   display: flex;
   justify-content: center;

}





  
  


header nav ul li {
    
 
    display: inline-block;
 
     margin: 20px;
     padding: 10px;   
     border: 1px solid rgb(6, 3, 3);
   background-color: white;

 }  



  header nav :hover{
   

  color: lightblue;




 }

 header div{
  display: flex;
  justify-content: space-around;
   align-items: center;
  
  background-color: rgb(147, 177, 241);

 }
 

 header input{
 
  width: 290px ;
  height: 70px;
  
 



}


.nos{
   

   color: black;
   font-size: 30px;



 }



 
.ModificarAlto{
  height: 400px;




 }


main img{
   


  background-color: aquamarine;

  

   width: 200px;
   height: 200px;


 }






main section{

  display: flex;
 justify-content: space-around;


}

.mo h2{
 font-style: oblique;
  font-size: 50px;
 color: rgb(211, 70, 211);
 text-decoration: underline;

 display: flex;
 justify-content: center;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.articulos2{
  display: flex;
  justify-content: space-around;
}


.oferta1{
  display: flex;
  justify-content: space-around;
  
  


}


.oferta1:hover{

 background-color: bisque;
 transform: scale(1.1);
}
.oferta2:hover{
  background-color: bisque;
 transform: scale(1.1);

}

.card-title{

  color: blue;

}
.info{
  display: inline-block;
  display: flex;
  justify-content: space-around;
   align-items: center;


  background-color: rgb(250, 235, 226);
  
  }
  .info i{
   font-size:100px;
   color: red;

  }


  .precio{
    display: flex;
    justify-content: space-around;
     align-items: center;


   
   
  }
  .compra{
    display: flex;
    justify-content: space-around;
     align-items: center;




    
  }
  .envio{
    display: flex;
    justify-content: space-around;
     align-items: center;

  }
  footer{
    background-color: rgb(250, 235, 226);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  
   
  }
   footer i{
    font-size:40px;
    color: rgb(48, 99, 166);
  
   }
   .pa{
    font-size: 25px;
  
   }
   h5{
    font-size: 22px;
    color: rgb(48, 99, 166);
   }
  
  .ayuda p{
  color: black;
  text-decoration: underline none;
  }
  .ayuda :hover{
  transform: scale(1.1);
  font-size: 25px;
  }
  .Contactanos{
     
    display: inline-block;
    display: flex;
  
   align-items: center;
  
    
   
    justify-content: space-around;
    margin: 10px;
    padding: 20px;
    
  }
  
  h6{
    font-size:15px;
  }
  .ph{
    display: flex;
    align-items: center;
    display: inline-block;
  }
  .at{
  display: flex;
  align-items: center;
  }
  
  
  .dir:hover{
    transform: scale(1.1);
  font-size: 25px;
  
  }
  @media(max-width:412px){
 
   header div{

   display: flex;
   justify-content:space-evenly;

  
   background-color: rgb(147, 177, 241);

   }
 

 

   
   header nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
 
 
 
 
 
   
   
 
 
 header nav ul li {
     
  
     display: inline-block;
  
      margin: 20px;
      padding: 10px;   
      border: 1px solid rgb(6, 3, 3);
    background-color: white;
 
  }  
 
 
 
   header nav :hover{
    
 
   color: lightblue;
 
 
 
 
  }

  


 .nos{
   

   color: black;
   font-size: 10px;



  }

 header div{
  display: flex;
  justify-content: space-evenly;
   align-items: center;
  
  background-color: rgb(147, 177, 241);

 }
 

 header input{
 
  width: 290px ;
  height: 70px;
  
  
 



 }

 img{
  height: 150px;
  width: 180px;
 }


 .nos{
   

   color: black;
   font-size: 30px;



  }



 

 

 header input{
 
  width: 195px ;
  height: 100px;
  
 



 }



 h2{
  text-align: center;
 }

 .card{
     
     height: 600px;
     width: 1000px;
     
 }
 .articulos2{
  flex-direction: column;
  display: flex;
  align-items: center;
 }
 .oferta2{
  flex-direction: column;
  display: flex;
  align-items: center;
 }
 .articulos{
  flex-direction: column;
  display: flex;
  align-items: center;
 }
 .oferta1{
  flex-direction: column;
  display: flex;
  align-items: center;

 }
 .card-text{
  font-size: 19.5px;
 }
 .card-title{
   font-size: 15px;


 }
 .info i{
  font-size:50px;
  color: red;

 }

.info h5{
  font-size: 20px;
}
footer{
  flex-direction: column;
}
.ayuda p{
  font-size: 20px;
  color: black;
  text-decoration: underline none;
  }
  .ayuda :hover{
  transform: scale(1.1);
  font-size: 25px;
  }
  .Contactanos{
    flex-direction: column;
  }
 .Contactanos p{
  font-size: 20px;
 }
 .Contactanos h6{
  font-size: 20px;
 }
 .direccion p{
  font-size: 20px;

 }

 .direccion  {
  flex-direction: column;
  
 }
 .direccion h6 {
  font-size: 20px;
 }
}  