<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <title>Como comprar</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/comocomprar.css">

</head>
<body>
    <header>
        <div>
      <img src="img/OH.png" alt="">
     
   
      <h2 class="c">
        Como comprar 
       </h2>
  
     
     </div>
     <nav>
       <ul>
         <li> <a href="index.html"><h2>Home</h2></a>
           
         </li>
          <li> <a href="views/nosotros.html" > <h2>nosotros</h2></a>
            <li><a href="views/preguntas.html"><h2>Preguntas Frecuentes</h2></a>  </li>
          
          
          
          
          
          </li>
  
  
  
  
        </ul>
  
  
  
      </nav>
   </header>
   <main> 
    <section>
   <h3> ¿CÓMO COMPRAR?</h3>
   
  <p class="compras ">Comprar en Oh My Cat  es muy fácil y seguro. A continuación te brindamos algunos datos importantes que
    pueden ayudarte al momento de realizar tu compra.
    Recordá que también podemos despejar tus dudas en nuestro Whatsapp: +54-911-6702-6323</p>

    <ul>
        <li><p>Primero te recomendamos registrarte en nuestro sitio. </p></li>
        <li> <p>Ahora sí, vamos a encontrar el producto que estás buscando.</p></li>
        <li><p>Vas a poder encontrar tus productos utilizando la barra de categorías localizada en la parte superior del sitio.</p></li>
        <li><p>Si ya tenés en mente una marca específica o producto también podés realizar la búsqueda ingresando la palabra clave en el cuadro de búsqueda que está localizado en la barra de categorías. </p></li>
        <li><p>Cliqueá en la foto del producto que te gusta para poder acceder a los detalles.</p></li>
        <li><p>Si querés comprarlo, elegí la cantidad y agrégalo a tu carrito de compras.</p></li>
        <li><p>Luego de agregar un producto al carrito de compras es posible continuar comprando y adicionar otros productos.</p></li>
        <li><p>Una vez que hayas elegido todos los productos que querés comprar, resta seleccionar la cantidad de cada producto para actualizar el monto de tu compra.</p></li>
        <li><p>Finalmente, queda concluir la compra y aguardar la llegada de tu producto!</p></li>
    </ul>

</section>
   </main>
   <footer>
    <div class="ayuda">
      <h5> Ayuda </h5>
      <a href="views/comocomprar.html"><p>Como comprar</p></a>
   
      <a href="views/privacidad.html"><p>privacidad </p></a>




     </div>
     
     <div class="Contactanos">
      
      <i class='bx bxl-whatsapp' >  </i> 
       <h6>+54-911-6702-6323 </h6>
     
        <br>
    
      <i class='bx bxs-phone-call' ></i>
      <h6> 0818-220-2345</h6>
      <br>
      
      <i class='bx bx-user'></i>
      <h6>Horarios  de atencion:  </h6>
      <p class=" at">Atención telefónica / Whatsapp de Lunes a Sábados de 9 a 21hs</p>
      
     </div>
     <div class="direccion">
      <i class='bx bx-map'></i>
      <p> visita nuestro local en:  </p>
      <a href=https://www.google.com/maps/@-34.6085542,-58.4169442,3a,75y,353.28h,90t/am=t/data=!3m7!1e1!3m5!1smDGmnyygdqGQsdNGwx4tvA!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DmDGmnyygdqGQsdNGwx4tvA%26cb_client%3Dsearch.gws-prod.gps%26w%3D86%26h%3D86%26yaw%3D353.27548%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?hl=es&entry=ttu target="_blank"><h6 class="dir"> Av. Díaz Vélez 3567      </h6> </a> 
     </div>

    
    
    
    
    
   
     
     

     

   </footer>
</body>
</html>