<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylenosotros.css">
</head>
<body>
 
   
  <header>
    <div>
     <img src="img/OH.png" alt="">
      <h1>
        Nosotros 
      </h1>
    </div>


     <nav>
       <ul>
         <li> <a href="index.html"><h2>Home</h2></a>
           
         </li>
       
          <li><a href="views/preguntas.html"><h2>Preguntas Frecuentes</h2> </a></li>




        </ul>



      </nav>
   
    </header>
    <br>
    <main>
      
        <section>
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="img/quienes somos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">¿Quiénes somos?</h5>
                  <p class="card-text">Somos GRUPO Oh my cat , nos especializamos desde el 1ro de octubre de 1992 al comercio exterior y a la comercialización de diferentes productos al por mayor. Nos ubicamos en el centro comercial de Balvanera, Ciudad Autónoma de Buenos Aires.

                    Grupo Oh my cat está formado por un local:en  Av. Díaz Vélez 3567 </p>
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="card">
                <img src="img/compromiso.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">compromiso con la vocación de servicio.</h5>
                  <p class="card-text">Nuestro espíritu emprendedor y vocación de servicio nos hicieron crecer a lo largo de estos años, junto al apoyo de todos ustedes que nos eligen día a día.

                    Tenemos un firme compromiso con la vocación de servicio, que hace posible centrar y maximizar el valor de los activos de nuestros clientes, trabajando bajo un conjunto de valores, como lo es la unidad y calidad de atención y haciendo ponderar el precio del mercado.</p>
                </div>
              </div>
            </div>
            <div class="impo">
            <div class="col">
              <div class="card">
                <img src="img/importacion.webp" class="card-img-top importaciones"  alt="...">
                <div class="card-body">
                  <h5 class="card-title">Importaciones</h5>
                  <p class="card-text">También generamos relaciones comerciales directamente con China, rompiendo con la barrera de la idiosincrasia cultural e idiomática y desarrollando nuevos negocios entre China y Argentina.
                  
                    Actualmente tenemos oficinas comerciales y depósitos en las ciudades de Shanghai, Jiangsu, Zhejiang y Yiwu.
                    
                    En estos momentos realizamos servicios de importación y exportación con nuestros partners chinos y clientes argentinos, logrando formar lazos fuertes y nuevos negocios.</p>
                </div>
              </div>
            </div>
            </div>
          </div>


      
      </section>

         
    </main>
    <br>
    <footer>
      <div class="ayuda">
        <h5> Ayuda </h5>
        <a href="views/comocomprar.html"><p>Como comprar</p></a>
     
        <a href="views/privacidad.html"><p>privacidad </p></a>
  
  
  
  
       </div>
       
       <div class="Contactanos">
        
        <i class='bx bxl-whatsapp' >  </i> 
         <h6>+54-911-6702-6323 </h6>
       
          <br>
      
        <i class='bx bxs-phone-call' ></i>
        <h6> 0818-220-2345</h6>
        <br>
        
        <i class='bx bx-user'></i>
        <h6>Horarios  de atencion:  </h6>
        <p class=" at">Atención telefónica / Whatsapp de Lunes a Sábados de 9 a 21hs</p>
        
       </div>
       <div class="direccion">
        <i class='bx bx-map'></i>
        <p> visita nuestro local en:  </p>
        <a href=https://www.google.com/maps/@-34.6085542,-58.4169442,3a,75y,353.28h,90t/am=t/data=!3m7!1e1!3m5!1smDGmnyygdqGQsdNGwx4tvA!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DmDGmnyygdqGQsdNGwx4tvA%26cb_client%3Dsearch.gws-prod.gps%26w%3D86%26h%3D86%26yaw%3D353.27548%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?hl=es&entry=ttu target="_blank"><h6 class="dir"> Av. Díaz Vélez 3567      </h6> </a> 
       </div>
  
      
      
      
      
      
     
       
       
  
       
  
     </footer>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>