<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Preguntas Frecuentes</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/stylepreguntas.css">
</head>
<body>
    <header>
      <div>
    <img src="img/OH.png" alt="">
   
 
    <h2 class="preguntas">
      Preguntas Frecuentes
     </h2>

   
   </div>
   <nav>
     <ul>
       <li> <a href="index.html"><h2 class="nos">Home</h2></a>
         
       </li>
        <li> <a href="views/nosotros.html" > <h2 class="nos">nosotros</h2></a>
        
        
        
        
        
        </li>




      </ul>



    </nav>
 </header>
 <main>
    <section class="metodosDePago">
        <article > 
            <h2> Los métodos de pago por el sitio web de Oh my cat  son los siguientes: </h2>
            <p>
              <ol>
                <li> <h3>Transferencia o depósito bancario</h3> 
                  <p>El personal de ateción al cliente se comunicará con usted a través del correo electrónico. Allí recibirá toda la información bancaria necesaría para realizar el pago por este método. Normalmente hacemos contacto dentro de las 24 horas hábiles.
                </p>
                </li>
                <li><h3>Efectivo</h3>
                  <p>Una vez recibido el correo deberá indicar que desea pagar en efectivo. En este sentido, el personal encargado le dejarán saber para qué día estará lista su compra y es allí cuando podrá dirigirse a la sede principal Juan Domingo Perón 2461, Balvanera, Buenos Aires.
                  </p>
                  </li>
                <li>  <h3>Mercado Pago</h3>
                  <p>
                  Le facilitamos su compra, ofreciéndole la opción de pagar a través de Mercado Pago, tan sencillo como seleccionar la opción de Enviar dinero, e ingresar nuestros datos, podrá realizar el pago de su compra.
                </p>
               </li>
               
               </ol>
                
        </article>
        <article>
                <h2>¿Cómo hago para devolver un producto?</h2>
               <p>
              Si desea devolver un producto, este deberá cumplir con los siguientes requisitos: </p>
              <ol>
                <li> <p>Que haya alguna falla en la calidad del producto, la cual será primeramente inspeccionado por nuestro sector de calidad, que decidirá si corresponde a algún problema de esta índole.</p>
                </li>
                <li>. <p>Que su pedido haya sido enviado de manera errónea o incorrecta de parte nuestra.</p></li>
                <li>  <p>Que sea dentro de los 7 días luego de la entrega de los productos.</p></li>
              </ol>

              Nota: la compañía no se hará cargo por pérdidas o roturas por la empresa de transporte, este caso solo se responsabilizará el comprador con la empresa de transporte.
                 </article>
             <article>
              <h2>¿Cómo comprar?</h2>
               <p>Antes de realizar una compra deberá registrarse en nuestra página web. Si ya posee cuenta solo tendrá que iniciar sesión con su nombre de usuario y contraseña. Para realizar una solicitud es importante seguir los siguientes pasos:</p>

               
             <ol>
              <li><p>Elegir el producto</p></li>
              <li><p>Añadir al carrito</p></li>
              <li><p> Confirmar los productos</p></li>
              <li><p>Completar la información del envío</p> </li>
              <li><p>Esperar correo con el presupuesto final y detalles de pago</p> </li>
             </ol>                
                Nota: después de pagar no podrá modificar o cancelar el pedido. Si tiene alguna pregunta, puede llamar a nuestra línea directa de atención al cliente: 11-3875-4574.</p>
              </article>    
       
    </section>
 </main>
 <footer>
  <div class="ayuda">
    <h5> Ayuda </h5>
    <a href="views/comocomprar.html"><p>Como comprar</p></a>
 
    <a href="views/privacidad.html"><p>privacidad </p></a>




   </div>
   
   <div class="Contactanos">
    
    <i class='bx bxl-whatsapp' >  </i> 
     <h6>+54-911-6702-6323 </h6>
   
      <br>
  
    <i class='bx bxs-phone-call' ></i>
    <h6> 0818-220-2345</h6>
    <br>
    
    <i class='bx bx-user'></i>
    <h6>Horarios  de atencion:  </h6>
    <p class=" at">Atención telefónica / Whatsapp de Lunes a Sábados de 9 a 21hs</p>
    
   </div>
   <div class="direccion">
    <i class='bx bx-map'></i>
    <p> visita nuestro local en:  </p>
    <a href=https://www.google.com/maps/@-34.6085542,-58.4169442,3a,75y,353.28h,90t/am=t/data=!3m7!1e1!3m5!1smDGmnyygdqGQsdNGwx4tvA!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DmDGmnyygdqGQsdNGwx4tvA%26cb_client%3Dsearch.gws-prod.gps%26w%3D86%26h%3D86%26yaw%3D353.27548%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?hl=es&entry=ttu target="_blank"><h6 class="dir"> Av. Díaz Vélez 3567      </h6> </a> 
   </div>

  
  
  
  
  
 
   
   

   

 </footer>
</body>
</html>